# Code Owners for SqlDeveloperBasics
# These owners will be automatically requested for review when a PR is opened.

# Default owner for the entire repo
*       @sharif-dataeng

# Folder-specific owners
/akhil/             @sharif-dataeng
/aliya/             @sharif-dataeng
/madhan/            @sharif-dataeng
/rajurao/           @sharif-dataeng
/Reference/         @sharif-dataeng
/sharif/            @sharif-dataeng
/shravya/           @sharif-dataeng
/VictoriaPravallika/ @sharif-dataeng
